.pagination {
    margin-left: auto;
    margin-right: auto;
    padding: .2rem .8rem;
    list-style-type: none;
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgba(241, 241, 241, 1);
    border-style: solid;
    border-color: rgb(181, 181, 181);
    border-width: 1px;
    border-radius: 10px;
}

.pagination>li {
    padding: 0;
}

.pagination a {
    background-color: #008CBA;
    padding: .2rem .6rem;
    border-radius: 2px;
    text-decoration: none;
    color: white;
}

.pagination a:hover {
    background-color: #146c8a;
}

.pagination a:visited {
    color: white;
}