<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/heading.css">
    <link rel="stylesheet" href="/static/css/posters.css">
    <title> {{ .Title }} </title>
</head>
<body>
    <h1> {{ .Heading }} </h1>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <a href="/discover/1" class="section-heading"><h2>Discover</h2></a>
    <div class="posters">
        {{ range $i, $e := .Movies }}
            <div class="movie-card">
                {{ if .ImagePath }}
                <img src="https://image.tmdb.org/t/p/w500{{ .ImagePath }}" alt="movie poster">
                {{ else }}
                <img src="/static/img/no_poster_fr.png" alt="movie poster">
                {{ end }}
                <div class="text">
                    <a href="/movie/{{ .Id }}">{{ .Title }}</a>
                </div>
            </div>
            {{ if eq $i 3 }}
                {{ break }}
            {{ end }}
        {{ end }}
    </div>
</body>
</html>